<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav  class="navbar is-black" role="navigation" aria-label="main navigation">

        <div id="navbarBasicExample" class="navbar-menu">
          <div  class="navbar-start">
            <a href="" class="navbar-item ">
              Home
            </a>
            <a href="https://github.com/EricJoyBoy" class="navbar-item">
              Github
            </a>
          </div>

          
        </div>
      </nav>
 <!-- END NAV -->

 <section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1  class="title is-1">Università</h1>
        </div>
    </div>
</section>


<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">Primi Passi</p>
                            <div class="tags has-addons level-item">
                                <span class="tag is-rounded is-info">@Insubria</span>
                                <span class="tag is-rounded">Sept 16, 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>I miei primi passi per quanto riguarda il mio periodo universitario gli potrei definire "diversi" in quanto l'inizio è stato effetivamente diverso,
                            la pandemia nel 2020 era di una portata tale da non consentire nessuno spostamento, erano permessi solamente quelli legati alla sopravvivenza. 
                        </p>
                        <p>Ogni tipo di contatto con l'università era a distanza, nessun contatto diretto era permesso le attivita erano improvvisate sul momento in quanto 
                            i vari DPCM erano l'unica linea guida e gli avveninmenti cambiavano repentinamente
                            nonostante tutto cio l' inizio delle lezioni fu presto interessante con l'approfondire del linguaggio Java, lo studio degli Algoritmi e delle strutture dati,(in un esame estremamente complesso a cura del Prof. Masazza un veterano del settore.) 
                          </p>
                          <p>
                              Con lo scemare della criticita del periodo pandemico inziarano i progetti di laboratorio, i quali furono il reale punto di svolta, il progetto consisteva un sistema di di gestione delle vaccinazione con utenti e operatori vaccinali che potevano accedere 
                              diverse funzionalità molto articolate ed un sistema di registrazione (il progetto si puo visionare nella sezione progetti).   
                          </p>
                          <p>I corsi di inglese livello B2 sono stati fondamentali poichè fornivano una certificazione MacMillan e l'inglese nel settore informatico è d'obbligo. </p>
                        <h3 class="has-text-centered"></h3>
                        
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            <img src="https://img.icons8.com/color/480/avatar.png" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title">Colleghi 🔱</p>
                            <p class="subtitle is-6 article-subtitle">
                                <a href="#">@Esprienze</a> 2020/2021
                            </p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>
                            I colleghi sono stata una parte fondamentale soprattutto i rappresentanti degli studenti estremamente competenti una fortuna non da sottovalutura soprattutto nel periodo pandemico
                            lo sviluppo delle relazione interpersonali è stato ahime spesso non possibile a causa delle restrizioni causate dalla pandemia ma tramite gli strumenti digitali si è  potuto interagire almeno a livello 
                            virtuale, ho fatto conoscenza di alcuni ragazzi davvero competenti e motivati il che ha fatto la differenza.
                        </p>
                        <p>
                            Lo sviluppo dei gruppi di lavoro è un esperienza snervante ma gestibile e che permette di acquisire alcune capacita di leadership, che ho trovato essere molto utili, il lavoro in team va gestito in maniera molto attenta e professionale e le decisioni
                            sono un lato molto importante perche vanno fatte col gruppo soprattuto le regole e la getsione delle scadenze, se non si trova un equilibrio il risultato puo essere disastroso e le capacità sociali non bastano, per essere efficenti bisogna stabilire le dinaminche 
                            di gruppo e i ruoli in maniera ottimale e cio è un lavoro molto complesso che toglie tantissimo tempo dai progetti e non sempre dai suoi frutti, ma chissa con la pratica non si possa migliorare. 
                        </p>
                        <h3 class="has-text-centered">Crescita personale</h3>
                        <p>
                           l'esperienza con persone diverse è estremamente formativa forse anche di piu di quella accademica, sapersi relazionare è una abilita che puo fare davvero la differenza
                           in certi contesti, confrontarsi con persone con obbietivi simili puo portare a bellissime collaborazioni.
                        </p>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
            <!-- START PROMO BLOCK -->
            <section class="hero is-info is-bold is-small promo-block">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            <i class="fa fa-bell-o"></i> Raccolta di Appunti</h1>
                        <span class="tag is-black is-medium is-rounded">
                               <a href="https://github.com/EricJoyBoy">I miei appunti scritti in LateX </a>
                            </span>
                    </div>
                </div>
            </section>
            <!-- END PROMO BLOCK -->
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI3vvVZ-pOGsyhaNEm9s-tm96lh7OGxJrpPQ&usqp=CAU" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title">Competitive Programming</p>
                            <p class="subtitle is-6 article-subtitle">
                                <a href="#">@Google</a> 2020/2021
                            </p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>
                            Inanzitutto cosa è il competitive programming?
                        </p>
                        <p>
                           Partecipare ai Google Kickstart o alle Code Wars sono ottime esperienze da fare durante il periodo universitario ritengo sia importante fare attivita extra curriculare e questa mi sembrava 
                           molto appetibile e poi adoro mettermi in gioco e dare filo da torcere ha qualcu altro.
                        </p>
                        <h3 class="has-text-centered">“Come obbietivo adesso vorrei montare un Team”</h3>
                        <p>
                            Vorrei montare un team e forse fare qualche esperienza internazionale e chissa forse trovare lavoro da Google!
                        </p>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
          </div>

    </section>
    <!-- END ARTICLE FEED -->
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
    //The first argument are the elements to which the plugin shall be initialized
    //The second argument has to be at least a empty object or a object with your desired options
    OverlayScrollbars(document.querySelectorAll("body"), { });
    });
    </script>
</body>
</html>