<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav  class="navbar is-black" role="navigation" aria-label="main navigation">

        <div id="navbarBasicExample" class="navbar-menu">
          <div  class="navbar-start">
            <a href="" class="navbar-item ">
              Home
            </a>
            <a href="https://github.com/EricJoyBoy" class="navbar-item">
              Github
            </a>
          </div>

          
        </div>
      </nav>
 <!-- END NAV -->

 <section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1  class="title is-1">Prospettive</h1>
        </div>
    </div>
</section>


<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">Passioni</p>
                            <div class="tags has-addons level-item">
                                <span class="tag is-rounded is-info">@Storia</span>
                                <span class="tag is-rounded">Sempre</span>
                            </div>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>Nasco come perito meccatronico sin da ragazzino affascinato dalla robotica e dalle macchine che un giorno andranno a 
                            sostituire l'uomo nel lavoro, da ragazzo era quasi un ossessione il sogno di un mondo dove ogni uomo avrebbe potuto coltivare le proprie passioni,
                            senza preouccuparsi del lavoro in quanto le macchine lo avrebbero aiutato, il mio obbiettivo era di costruire una macchina che sostituisse mio padre al lavoro
                            cosi che potesse passare piu tempo insieme a me e mia sorella. 
                        </p>
                        <p>Questa mia grande passione per le macchine e la tecnologia mi ha spinto ad iscrivermi alla facolta di informatica con la volonta di capire meglio come le macchine ragionassero e non solo 
                            il lato strettamente meccanico e di funzionamento, comincio a volere imparare di piu sulle macchine intelligenti, AI, Internet of Things, robotica, e mi prefisso di un giorno poter lavorare in 
                            settore affine conciliando cosi una mia passione individuale con il mio lavoro.
                           
                          </p>
                          <p>
                            
                          </p>
                         
                        <h3 class="has-text-centered"></h3>
                        
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            <img src="https://img.icons8.com/color/480/avatar.png" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title">5 anni nel futuro</p>
                            <p class="subtitle is-6 article-subtitle">
                                <a href="#">@Speranze</a> 2026
                            </p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p>
                            il campo delle ambizioni è un campo delicato perchè fa parte delle nostre credenze , quello che noi pensiamo sia meglio per noi e per le persone a noi care,
                            la cosa piu concreta che si possa fare è porsi degli obbietivi, delle tappe che definiscono il percorso che vogliamo intraprendere, la laurea è un obbietivo reale 
                            lo studio dei trend tecnologici in continuo cambiamento e l' approfondimento di alcuni di essi in particolare l'Internet of Things, tema tra l'atro che ho  inserito nel mio piano di studi,
                            come piano concreto l'imparare una nuova lingua e nel caso emigrare  verso un centro tecnologico all' estero cosi da accompagnare da vicino l'innovazione, sicuramente studiare i linguaggi di programmzione e i framework
                            piu coincidenti con l'esigenze di mercato  anche se scontato, e in generale di collaborare con piu persone possibili..
                            
                             
                        
                        </p>
                        <p>
                           
                        </p>
                        <h3 class="has-text-centered">Corsi di formazione</h3>
                        <p>
                           ritengo fondamentale per un professionista debba essere sempre aggiornato e alla ricerca di competenze che lo rendano unico, sicuramente 
                           fare diversi corsi di formazioni inerenti sara fondamentale nel mio percorso. 
                        </p>
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
            <!-- START PROMO BLOCK -->
           
            <!-- END PROMO BLOCK -->
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-center">
                            <img src="https://cdn4.iconfinder.com/data/icons/people-40/48/avatar_male-512.png" class="author-image" alt="Placeholder image">
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title">Previsioni</p>
                            <p class="subtitle is-6 article-subtitle">
                                <a href="#">@Trend</a> 3000
                            </p>
                        </div>
                    </div>
                    <div class="content article-body">
                        
                        <p>
                            Sono abbastanza fiducioso riguardo al futuro, il periodo post-pandemia con l'avvento dell nuove tecnologie come 5G il passaggio ai sistemi cloud e gli investimenti di tutti
                            i paesi europei nell'area del digitale portera un nuova ventata di area fresca al panorma tech cavalcare questa nuova onde penso sara entusiasmante o almeno si spera 😅
                        </p>
                       
                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
          </div>
        
        
    </section>
    <!-- END ARTICLE FEED -->
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
    //The first argument are the elements to which the plugin shall be initialized
    //The second argument has to be at least a empty object or a object with your desired options
    OverlayScrollbars(document.querySelectorAll("body"), { });
    });
    </script>
</body>
</html>