
<body>
    <nav  class="navbar is-black" role="navigation" aria-label="main navigation">

        <div id="navbarBasicExample" class="navbar-menu">
          <div  class="navbar-start">
            <a href="" class="navbar-item ">
              Home
            </a>
            <a href="https://github.com/EricJoyBoy" class="navbar-item">
              Github
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
                Work in progress
            </div>
        
          </div>

          
        </div>
      </nav>

       <br>
        <div class="circle">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          </div> 
        <div class="big">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="tri"></div>
        <div class="squ">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="end">
          <div>E</div>
          <div>N</div>
          <div>D</div>
        </div>
        
    
