.has-same-height .card {
    height: 320px;
    overflow: hidden;
  }
  
  .card-content h3 {
    text-align: center;
  }
  
  .table-profile td,
  th {
    border: none !important;
  }
  
  .table-profile td:first-of-type {
    font-weight: bold;
  }
  
  .skills-content .media {
    margin: 0 !important;
    padding: 4px !important;
    border: 0 !important;
  }
  
  .skills-content .progress {
    height: 4px !important;
  }
  
  .custom-tags {
    text-align: center !important;
    display: block;
  }
  
  .portfolio-container .card {
    margin-bottom: 2em;
  }
  
  .section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
  }

  .hero{
      background-image: url("https://sloanreview.mit.edu/wp-content/uploads/2020/09/EG2-Redman-Davenport-Serious-Data-Science-2400x1260-1-1200x630.jpg");
  }

  body{
      background-color: lightblue;
  }

  footer {
    color: white;
    background: rgb(14, 14, 14) !important;
  }
  
  footer strong {
    color: turquoise;
  }
  
  footer a {
    color: turquoise;
  }
  
  .section{
    background-color: lightblue;
  }

  hr{
    background-color: lightblue;
  }