
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Personal - Free Bulma template</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />

  <script async type="text/javascript" src="../js/bulma.js"></script>
</head>

<body>
    <nav  class="navbar is-black" role="navigation" aria-label="main navigation">

        <div id="navbarBasicExample" class="navbar-menu">
          <div  class="navbar-start">
            <a href="" class="navbar-item ">
              Home
            </a>
            <a href="https://github.com/EricJoyBoy" class="navbar-item">
              Github
            </a>
          </div>

          
        </div>
      </nav>

  <!-- Header -->
  <section class="hero is-link is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Progetti
        </h1>
        <h2 class="subtitle is-3">
         
        </h2>
      </div>
    </div>
  </section>


  <!-- Skills tags -->
  <!-- <br>
        <div class="tags custom-tags">
          <span class="tag is-light">Node.js</span><span class="tag is-light">Express.js</span><span class="tag is-light">VueJS</span><span
            class="tag is-light">JavaScript</span><span class="tag is-light">HTML5</span><span class="tag is-light">Canvas</span><span
            class="tag is-light">CSS3</span><span class="tag is-light">Bulma</span><span class="tag is-light">Bootstrap</span><span
            class="tag is-light">jQuery</span><span class="tag is-light">Pug</span><span class="tag is-light">Stylus</span><span
            class="tag is-light">SASS/SCSS</span><span class="tag is-light">Webpack</span><span class="tag is-light">Git</span><span
            class="tag is-light">ASP.NET Web Forms</span><span class="tag is-light">MSSQL</span><span class="tag is-light">MongoDB</span><span
            class="tag is-light">Apache Cordova</span><span class="tag is-light">Chrome Extensions</span>
        </div> -->

  <!-- Services -->
  <section class="section" id="services">
    <div class="section-heading">
      <h3 class="title is-2">Servizi</h3>
      
    </div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Front End Web Development</h4>
              
Sviluppo front-end utilizzando gli standard più recenti con HTML5/CSS3 con funzionalità aggiuntive utilizzando JavaScript e
Angular.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Back End Web Development</h4>
             
Sviluppo back-end utilizzando come framework Spring Boot, lato database SQL e MongoDB
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">WordPress</h4>
              Buona conoscenza della piattaforma WordPress, delle tecniche SEO e dei principali trend, tool e applicazioni relative al settore digital marketing.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Modellazione 3D</h4>
              Esperienza nell'utilizzo di CAD 3D ( Fusion / Inventor) ; Modellazione 3D, realizzazione di tavole 2D, esplosi e documentazione tecnica.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Resume -->
  <section class="section" id="resume">
    <div class="section-heading">
      <h3 class="title is-2">Curriculum</h3>
      <h4 class="subtitle is-5">Esperienze</h4>
      <a href="curriculum" class="button is-link is-medium">
        <span class="icon">
          <i class="fas fa-file-alt"></i>
        </span>
        <span>Vai</span>
      </a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="section" id="portfolio">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Portfolio</h3>
        <h4 class="subtitle is-5">I miei ultimi lavori</h4>
      </div>
      <br>

      <div class="container portfolio-container">
        <div class="columns">
          <div class="column is-4">
            <!-- admin -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Centri Vaccinali <small>(Light)</small></span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-danger">WIP</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://www.sciencefriday.com/wp-content/uploads/2021/04/people-wearing-masks.png" alt="Admin template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="https://progettolab2021.herokuapp.com/home" class="card-footer-item">Preview</a>
                <a href="https://github.com/EricJoyBoy/progettoUni" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cards -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cards</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://cdn.dribbble.com/users/879147/screenshots/7906715/media/1b1d2ef35dab525ed63b8b5816813132.jpg?compress=1&resize=400x300" alt="Cards template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cards.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cards.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- forum -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Forum</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/576d0072456387.5be8632118873.jpg" alt="Hero template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/forum.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/forum.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- insta album -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>InstaAlbum</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://i.pinimg.com/originals/20/9f/c4/209fc49caae9e8ee845ba2a6079f8ebb.jpg" alt="Landing template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/instaAlbum.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/instaAlbum.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- landing -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Landing</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://graphberry-imgs.imgix.net/isometric-technology-illustration-231.jpg?auto=compress,format&q=80&w=800" alt="Landing template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/landing.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/landing.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>

          </div>
          <div class="column is-4">
            <!-- band -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Band</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://cdn.dribbble.com/users/870476/screenshots/5314198/server-01_4x.png?compress=1&resize=400x300" alt="Band template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/band.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/band.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cheatsheet -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cheatsheet</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://cdn.dribbble.com/users/730703/screenshots/5641263/guardian---women-in-tech.gif" alt="Cheatsheet template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cheatsheet.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cheatsheet.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- hero -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Hero</span>
                  <span class="is-pulled-right">
                    <a href="https://sm.mashable.com/mashable_pk/photo/default/tec-1_b529.jpg">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://wit.kaspersky.com/wp-content/uploads/2021/03/womens-history-month.jpg" alt="Hero template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/hero.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/hero.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--kanban -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Kanban</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://thumbs.dreamstime.com/b/girl-headset-microphone-help-man-customer-vector-illustration-female-assistant-tech-support-call-center-work-189043877.jpg" alt="Kanban template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/kanban.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/kanban.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- login -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Login</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://www.teachforamerica.org/sites/default/files/2019-02/OneDayLandscapeLarge_W19_Tech_0.png" alt="Login template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/login.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/login.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
          </div>
          <div class="column is-4">
            <!-- blog -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Blog</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-danger">WIP</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQzY_EXijEPn_HYXyZmiXiuqdpPneH8MHxwss7qcoS7suLeuBvQdNw1oXAM4ac4lYTmp0&usqp=CAU" alt="Blog template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/blog.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/blog.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!-- cover -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Cover</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="http://unblast.com/wp-content/uploads/2020/03/Father-and-Son-Using-Computer-Illustration-1.jpg" alt="Cover template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/cover.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/cover.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--inbox -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Inbox</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">Mobile</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://cdn.dribbble.com/users/879147/screenshots/7885320/media/b45fb3b151d3ee46a6f9989dccfebc94.jpg?compress=1&resize=400x300" alt="Inbox template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/inbox.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/inbox.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--kanban with functional search-->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Kanban with Search box</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://cdn.dribbble.com/users/879147/screenshots/7795242/media/6c710b00d3b1280da8817d0909854190.jpg?compress=1&resize=400x300" alt="Kanban template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/kanban[search].html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/kanban[search].html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
            <!--tabs-->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span>Modal Cards</span>
                  <span class="is-pulled-right">
                    <a href="https://github.com/jgthms/bulma/releases/tag/0.7.2">
                      <span class="tag is-default">v0.7.2</span>
                    </a>
                    <span class="tag is-default">Desktop</span>
                    <span class="tag is-default">?</span>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <figure class="image">
                  <img src="https://cdn.dribbble.com/users/879147/screenshots/7844303/media/68bd5c32af63a1dc0be0107fda2d94f1.jpg?compress=1&resize=400x300" alt="modal-cards template screenshot">
                </figure>
              </div>
              <footer class="card-footer">
                <a href="templates/modal-cards.html" class="card-footer-item">Preview</a>
                <a href="https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/modal-cards.html" class="card-footer-item">Source
                  Code</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Achievement Level -->
  <!-- <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tweets</p>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title">123</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Followers</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">789</p>
        </div>
      </div>
    </nav>
  </section> -->


  

  <!-- Footer -->
  <footer class="footer">
    <div class="section-heading">
      <p>
        <strong>Sviluppato </strong> by <a href="https://github.com/EricJoyBoy">Eric Marins</a>. The
        source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
</body>

</html>